<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wfzcx.ieos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="MODEL"
            android:value="
            com.wfzcx.ieos.data.model.AccountModel,
            com.wfzcx.ieos.data.model.KpiDataModel
            " />

        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.login.LoginActivity" />

        <activity android:name=".module.main.MainActivity" />

        <!-- 宏观经济 -->

        <!--全省区域分析-->
        <activity android:name=".module.dz_macro.dz_macro_pro_region_activity" />

        <!--全市区域趋势分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_region_trend_activity" />

        <!--全市行业分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_industry_activity" />

        <!--原材料产业分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_material_activity" />

        <!--产业集群分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_ic_activity" />

        <!--产业基地分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_ib_activity" />

        <!--全省用电对比分析-->
        <activity android:name=".module.dz_macro.dz_macro_pro_elec_contrast_activity" />

        <!--全市区域对比分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_region_contrast_activity" />

        <!--全市用电趋势分析-->
        <activity android:name=".module.dz_macro.dz_macro_city_elec_trend_activity" />

        <!-- 全市用电对比分析 -->
        <activity android:name=".module.dz_macro.dz_macro_city_elec_contrast_activity" />

        <!-- 调度企业 -->

        <!-- 区域分析 -->
        <activity android:name=".module.dz_enter.dz_enter_region_activity" />

        <!-- 行业分析 -->
        <activity android:name=".module.dz_enter.dz_enter_industry_activity" />

        <!-- 原材料产业分析 -->
        <activity android:name=".module.dz_enter.dz_enter_material_activity" />

        <!-- 产业集群分析 -->
        <activity android:name=".module.dz_enter.dz_enter_ic_activity" />

        <!-- 产业基地分析 -->
        <activity android:name=".module.dz_enter.dz_enter_ib_activity" />

        <!-- 综合趋势分析 -->
        <activity android:name=".module.dz_enter.dz_enter_trend_activity" />

        <!-- 重点企业 -->
        <activity android:name=".module.dz_enter.dz_enter_key_activity" />

        <!-- 产品订单 -->

        <!-- 规上产品 -->
        <activity android:name=".module.dz_product.dz_product_macro_activity" />

        <!-- 产品分析 -->
        <activity android:name=".module.dz_product.dz_product_enter_activity" />

        <!-- 原材料分析 -->
        <activity android:name=".module.dz_product.dz_material_enter_activity" />

        <!-- 订单分析 -->
        <activity android:name=".module.dz_product.dz_order_enter_activity" />

        <!-- 预测预警 -->

        <!-- 调度企业区域预测 -->
        <!--<activity android:name=".module.dz_fore.dz_fore_enter_region" />-->

        <!--&lt;!&ndash; 调度企业行业预测 &ndash;&gt;-->
        <!--<activity android:name=".module.dz_fore.dz_fore_enter_industry" />-->

        <!--&lt;!&ndash; 调度企业产业集群预测 &ndash;&gt;-->
        <!--<activity android:name=".module.dz_fore.dz_fore_enter_ic" />-->

        <!--&lt;!&ndash; 调度企业产业基地预测 &ndash;&gt;-->
        <!--<activity android:name=".module.dz_fore.dz_fore_enter_ib" />-->

        <!-- 绩效评价 -->

        <!-- 县市区绩效评价 -->
        <!--<activity android:name=".module.dz_grad.dz_grad_region" />-->

        <!--&lt;!&ndash; 企业绩效评价 &ndash;&gt;-->
        <!--<activity android:name=".module.dz_grad.dz_grad_enter" />-->

    </application>

</manifest>